@media (min-width: 845px){
    html,body{
        position: relative;
        width: 845px;
        height: 507px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    /**********CONTENIDO AQUI************/
    #comprobar-btn:hover{
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-o-transform: scale(1.1);
	}

    #palabra-move,
	.palabra-element{
		width: 100px;
		height: 30px;
	}
	.espacio-element,
	.espacio-palabra,
	.espacio-palabra::after
	{
		width: 90px;
		height: 30px;
	}
	.espacio-element-active{
		animation-name: animacion-espacio-active;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		-webkit-animation-name: animacion-espacio-active;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		z-index: 1;
		border-radius: 0px 0px 0px 0px;
	}

	.espacio-palabra::after{
		position: absolute;
		content: "";
		height: 100%;
		top: 0px;
		background: #FFFFFF;
		background: linear-gradient(to right, rgba(255,255,255,0), #FFFFFF);
		background: -moz-linear-gradient(to right, rgba(255,255,255,0), #FFFFFF);
		background: -webkit-linear-gradient(to right, rgba(255,255,255,0), #FFFFFF);
		background: -o-linear-gradient(to right, rgba(255,255,255,0), #FFFFFF);
		opacity: 0;

		transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s;
		display: none;
	}
	.espacio-element-occuped .espacio-eliminar{
		top: -20px;
		right: 5px;
		opacity: 1;
		transition: top 0.2s, opacity 0.2s;
		-webkit-transition: top 0.2s, opacity 0.2s;
	}
	.espacio-element-occuped:hover .espacio-palabra::after{
		opacity: 1 !important;
	}
	.espacio-element-occuped:hover .espacio-eliminar{
		right: 5px;
		opacity: 1 !important;
	}

	.frase-element-on{
		animation-name: animacion-palabra-correcta;
		-webkit-animation-name: animacion-palabra-correcta;
	}
	.frase-wrap-win{
		animation-name: animacion-win;
		-webkit-animation-name: animacion-win;
	}
	.frase-wrap-win p{
		animation-name: animacion-win-color;
		-webkit-animation-name: animacion-win-color;
	}
	/************END CONTENT*************/

	#modal-continue-btn:hover{
	    transform: scale(1.05);
	    -webkit-transform: scale(1.05);
	    -o-transform: scale(1.05);
	}
}

@media (min-width: 710px) and (max-width: 844px){
    html,body{
        position: relative;
        width: 710px;
        height: 426px;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }

    #tra_contenedor{
		width: 710px;
		height: 426px;
	}

	#tra_body{
	    height: 100%;
	    height: calc(100% - 30px);
	    height: -moz-calc(100% - 30px);
	    width: 100%;
	    top: 30px;
	    padding-top: 15px;
	    justify-content: flex-start;
	}
	

	/**********CONTENIDO AQUI************/
	#comprobar-btn{
		margin-top: 10px;
	}
	#comprobar-btn:hover{
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-o-transform: scale(1.1);
	}

	#palabra-move,
	.palabra-element{
		width: 100px;
		height: 30px;
	}
	.espacio-element,
	.espacio-palabra,
	.espacio-palabra::after
	{
		width: 90px;
		height: 30px;
	}
	.espacio-element-active{
		animation-name: animacion-espacio-active;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		-webkit-animation-name: animacion-espacio-active;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		z-index: 1;
		border-radius: 0px 0px 0px 0px;
	}

	#pista-cont{
		width: 600px;
	}

	#frase-cont{
		margin: 0px auto;
		width: 700px;
		height: auto;
	}
	#frase-correcta-txt{
		width: 100%;
		height: 20px;
		font-size: 14px;
	}
	
	.frase-element{
		width: auto;
		padding: 0px;
		margin: 0px;
		margin-right: 10px;
	}
	.frase-element p{
		font-size: 16px;
	}

	#palabras-cont{
		width: 700px;
		height: auto;
		margin: 0px auto;
		margin-top: 10px;
	}
	#palabras-wrap{
		width: 100%;
		height: auto;
		margin: 0px auto;
		padding-top: 10px;
	}

	.palabra-element,#palabra-move{
		padding: 0px 5px;
		padding-bottom: 5px;
	}
	.palabra-element{
		margin: 0px 5px;
		margin-bottom: 5px;
	}

	#espacios-cont{
		
	}
	#espacios-wrap{
		
	}

	.espacio-palabra{
		padding: 0px 5px;
	}

	.espacio-element-occuped .espacio-eliminar{
		top: -20px;
		right: 5px;
		opacity: 1;
		transition: top 0.2s, opacity 0.2s;
		-webkit-transition: top 0.2s, opacity 0.2s;
	}
	
	.espacio-element-occuped .espacio-palabra{
		left: 0%;
		opacity: 1;
		transition: left 0.2s, opacity 0.2s, padding 0.2s;
		-webkit-transition: left 0.2s, opacity 0.2s, padding 0.2s;
	}

	.espacio-palabra::after{
		display: none;
		position: absolute;
		content: "";
		height: 100%;
		top: 0px;
		background: #FFFFFF;
		background: linear-gradient(to right, rgba(255,255,255,0), #FFFFFF);
		background: -moz-linear-gradient(to right, rgba(255,255,255,0), #FFFFFF);
		background: -webkit-linear-gradient(to right, rgba(255,255,255,0), #FFFFFF);
		background: -o-linear-gradient(to right, rgba(255,255,255,0), #FFFFFF);
		opacity: 0;

		transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s;
	}

	.espacio-element-occuped:hover .espacio-palabra{
		
	}

	.espacio-element-occuped:hover .espacio-palabra::after{
		opacity: 1 !important;
	}
	.espacio-element-occuped:hover .espacio-eliminar{
		top: 50% !important;
		top: calc(50% - 10px) !important;
		top: -moz-calc(50% - 10px) !important;
		opacity: 1 !important;
	}

	.frase-element-on{
		animation-name: animacion-palabra-correcta;
		-webkit-animation-name: animacion-palabra-correcta;
	}
	.frase-wrap-win{
		animation-name: animacion-win;
		-webkit-animation-name: animacion-win;
	}
	.frase-wrap-win p{
		animation-name: animacion-win-color;
		-webkit-animation-name: animacion-win-color;
	}
	/************************************/
	#modal{
	    height: 396px;
	    top: 30px;
	}
	#modal-continue-btn:hover{
	    transform: scale(1.05);
	    -webkit-transform: scale(1.05);
	    -o-transform: scale(1.05);
	}
	
	/************INSTRUCCIONES***********/
	#instrucciones{
	    height: 396px;
	    top: 30px;
	}
	#instrucciones-box-wrap{
	    max-height: 260px;
	}
	#instrucciones_title{
	    
	}
	#instrucciones-btn{
		bottom: -20px;
	}
}

@media (min-width: 530px) and (max-width: 709px){
    html,body{
        position: relative;
        width: 530px;
        height: 600px;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 0px;
        padding: 0px;
    }

    #tra_contenedor{
		width: 530px;
		height: 600px;
	}

	#tra_body{
	    height: 100%;
	    height: calc(100% - 40px);
	    height: -moz-calc(100% - 40px);
	    width: 100%;
	    top: 40px;
	    padding-top: 15px;
	    justify-content: flex-start;
	}

	/**********CONTENIDO AQUI************/
	#comprobar-btn{
		margin-top: 15px;
	}

	#palabra-move,
	.palabra-element{
		width: 100px;
		height: 30px;
	}
	.espacio-element{
		width: 95px;
		height: 30px;
	}
	.espacio-element-active{
		animation-name: animacion-espacio-active-responsive;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		-webkit-animation-name: animacion-espacio-active-responsive;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		z-index: 1;
		border-radius: 0px 0px 0px 0px;
	}
	.espacio-element-empty,.espacio-element-occuped{
		margin-left: 3px;
		margin-right: 3px;
	}

	#frase-cont{
		margin: 0px auto;
		width: 500px;
		height: auto;
	}
	#frase-correcta-txt{
		width: 100%;
		height: 20px;
		font-size: 14px;
	}
	#frase-wrap{
		transform-origin: 0% center;
		-webkit-transform-origin: 0% center;
		-o-transform-origin: 0% center;
	}
	
	.frase-element{
		width: auto;
		padding: 0px;
		margin: 0px;
		margin-right: 10px;
	}
	.frase-element p{
		font-size: 15px;
	}

	#palabras-cont{
		width: 500px;
		height: auto;
		margin: 0px auto;
		margin-top: 10px;
	}
	#palabras-wrap{
		width: 100%;
		height: auto;
		margin: 0px auto;
		padding-top: 10px;
	}

	.palabra-element,#palabra-move{
		padding: 0px 5px;
		padding-bottom: 5px;
	}
	.palabra-element{
		margin: 0px 5px;
		margin-bottom: 10px;
		cursor: default;
	}

	#pista-cont{
		width: 100%;
		padding: 0px 15px;
	}

	#espacios-cont{
		margin: 0px auto;
		width: 520px;
		height: 152px;
		margin-top: 30px;
	}
	#espacios-wrap{
		width: 100%;
		height: auto;
		margin: 0px;
	}
	#espacios-title{
		font-size: 16px;
	}

	.espacio-palabra p{
		text-align: left;
	}

	.espacio-eliminar{
		width: 18px;
		height: 18px;
		top: -18px;
	}

	.espacio-palabra::after{
		display: none;
	}

	.espacio-element-occuped .espacio-eliminar{
		right: 5px;
		top: 50% !important;
		top: calc(50% - 9px) !important;
		top: -moz-calc(50% - 9px) !important;
		opacity: 1;
	}
	.espacio-element-occuped .espacio-palabra{
		left: 0%;
		opacity: 1;
	}
	.espacio-element-occuped .espacio-palabra::after{
		display: none;
	}

	.frase-element-on{
		animation-name: animacion-palabra-correcta-responsive;
		-webkit-animation-name: animacion-palabra-correcta-responsive;
	}
	.frase-wrap-win{
		animation-name: animacion-win-responsive;
		-webkit-animation-name: animacion-win-responsive;
	}
	.frase-wrap-win p{
		animation-name: animacion-win-color-responsive;
		-webkit-animation-name: animacion-win-color-responsive;
	}

	/************END CONTENT*************/
	
	/************************************/
	#instrucciones{
	    height: 560px;
		align-items: center;
		z-index: 1;
	}
	#instrucciones-box{
		margin: 0px auto;
	}
	#instrucciones-box-wrap{
	    max-height: 260px;
	}
	#instrucciones_title{
	    
	}
	#instrucciones-close-btn{
		cursor: default;
	}

	#modal{
	    height: 560px;
	    top: 40px;
	    z-index: 2;
	}
}

@media (min-width: 280px) and (max-width: 529px){
    html,body{
        position: relative;
        width: 100%;
        height: 700px;
        overflow-x: hidden;
        overflow-y: auto;
        
        margin: 0px;
        padding: 0px;
    }

    #tra_contenedor{
		width: 100%;
		height: 700px;
	}

	#tra_body{
	    height: 100%;
	    height: calc(100% - (45px + 40px));/*reloj*/
	    height: -moz-calc(100% - (45px + 40px));/*reloj*/
	    width: 100%;
	    top: 45px;
	    justify-content: flex-start;
	}	
	
	/**********CONTENIDO AQUI************/
	#comprobar-btn{
		margin-top: 30px;
	}

	.espacios-cont-corner-1,
	.espacios-cont-corner-2,
    .espacios-cont-corner-3,
    .espacios-cont-corner-4,
    .espacios-cont-corner-top,
    .espacios-cont-corner-bottom,
    .espacios-cont-corner-right,
    .espacios-cont-corner-left
	{
		position: absolute;
	}
	.espacios-cont-corner-1,
	.espacios-cont-corner-2,
    .espacios-cont-corner-3,
    .espacios-cont-corner-4{
    	width: 23px;
    	height: 21px;
    	background-position: center;
    	background-size: contain;
    	background-repeat: no-repeat;
    }
    .espacios-cont-corner-1{
    	top: -21px;
    	left: -23px;
    	background-image: url(../images/template/corner-1.png);
    }
	.espacios-cont-corner-2{
		top: -21px;
    	left: 100%;
		background-image: url(../images/template/corner-2.png);
	}
    .espacios-cont-corner-3{
    	top: 100%;
    	left: -23px;
    	background-image: url(../images/template/corner-3.png);
    }
    .espacios-cont-corner-4{
    	top: 100%;
    	left: 100%;
    	background-image: url(../images/template/corner-4.png);
    }

    .espacios-cont-corner-top,
    .espacios-cont-corner-bottom{
    	width: 100%;
    	height: 21px;
    	background-repeat: repeat-x;
    	background-position: 0px 0px;
    }
    .espacios-cont-corner-left,
    .espacios-cont-corner-right{
    	width: 23px;
    	height: 100%;
    	background-repeat: repeat-y;
    	background-position: 0px 0px;
    }
    
    .espacios-cont-corner-left{
    	left: -23px;
    	top: 0px;
    	background-image: url(../images/template/corner-left.png);
    }
    .espacios-cont-corner-right{
    	left: 100%;
    	top: 0px;
    	background-image: url(../images/template/corner-right.png);
    }
    .espacios-cont-corner-top{
    	left: 0px;
    	top: -21px;
    	background-image: url(../images/template/corner-top.png);
    }
    .espacios-cont-corner-bottom{
    	left: 0px;
    	top: 100%;
    	background-image: url(../images/template/corner-bottom.png);
    }

	#palabra-move,
	.palabra-element{
		width: 100px;
		height: 30px;
	}
	.espacio-element{
		width: 90px;
		height: 30px;
	}
	.espacio-element-active{
		animation-name: animacion-espacio-active-responsive;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		-webkit-animation-name: animacion-espacio-active-responsive;
		-webkit-animation-duration: 1s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
	}

	.espacio-element-empty,.espacio-element-occuped{
		margin-left: 3px;
		margin-right: 3px;
		margin-bottom: 5px;
	}

	#frase-cont{
		margin: 0px auto;
		width: 100%;
		width: calc(100% - 15px);
		width: -moz-calc(100% - 15px);
		height: auto;
	}
	#frase-correcta-txt{
		width: 100%;
		height: 20px;
		font-size: 13px;
	}
	.frase-correcta-txt-hide{
		transition: opacity none;
		-webkit-transition: none;
	}
	.frase-correcta-txt-show{
		transition: opacity none;
		-webkit-transition: none;
	}
	#frase-wrap{
		transform-origin: 0% center;
		-webkit-transform-origin: 0% center;
		-o-transform-origin: 0% center;
	}
	
	.frase-element{
		width: auto;
		padding: 0px;
		margin: 0px;
		margin-right: 10px;
	}
	.frase-element p{
		font-size: 14px;
	}

	#palabras-cont{
		width: 100%;
		width: calc(100% - 15px);
		width: -moz-calc(100% - 15px);
		height: auto;
		margin: 0px auto;
		margin-top: 20px;
	}
	#palabras-wrap{
		width: 100%;
		height: auto;
		margin: 0px auto;
		padding-top: 10px;
	}

	.palabra-element,#palabra-move{
		padding: 0px 5px;
		padding-bottom: 5px;
	}
	.palabra-element{
		margin: 0px 5px;
		margin-bottom: 5px;
		cursor: default;
	}
	.palabra_selected{
		transform: scale(1.1) rotate(0deg);
		-webkit-transform: scale(1.1) rotate(0deg);
		-o-transform: scale(1.1) rotate(0deg);

		transition: none;
		-webkit-transition: none;
	}

	#espacios-title{
		font-size: 16px;
		left: 50%;
		left: calc(50% - 150px);
		left: -moz-calc(50% - 150px);
		top: -43px;
		width: 300px;
		background-image: url(../images/nombre-background-responsive.svg);
	}

	#espacios-cont{
		margin: 0px auto;
		width: 100%;
		width: calc(100% - 60px);
		width: -moz-calc(100% - 60px);
		margin-top: 50px;
		height: auto;
		background-image: url(../images/template/center.png);
		background-repeat: repeat;
	}
	#espacios-wrap{
		width: 100%;
		height: auto;
		margin: 0px;
		padding: 0px;
		padding-top: 10px;
	}

	#pista-cont{
		width: 100;
		padding: 0px 10px;
	}
	#pista-txt{
		font-size: 13px;
	}

	.espacio-palabra p{
		text-align: left;
	}
	.palabra-element p,#palabra-move p,.espacio-palabra p{
		font-size: 13px;
	}

	.espacio-eliminar{
		width: 18px;
		height: 18px;
		top: -18px;
	}

	.espacio-palabra::after{
		display: none;
	}
	
	.espacio-element-occuped .espacio-eliminar{
		right: 5px;
		top: 50% !important;
		top: calc(50% - 9px) !important;
		top: -moz-calc(50% - 9px) !important;
		opacity: 1;
	}
	.espacio-element-occuped .espacio-palabra{
		left: 0%;
		opacity: 1;
	}

	.frase-element-on{
		animation: none;
		animation: unset;
		-webkit-animation: none;
		-webkit-animation: unset;
	}
	.frase-wrap-win{
		animation: none;
		animation: unset;
		-webkit-animation: none;
		-webkit-animation: unset;
	}
	.frase-wrap-win p{
		animation-name: animacion-win-color-responsive;
		-webkit-animation-name: animacion-win-color-responsive;
	}

	/************END CONTENT*************/
	
	#modal{
	    height: 100%;
	    height: calc(100% - 45px);
	    height: -moz-calc(100% - 45px);
	    top: 45px;
	    z-index: 200;
	}
	#modal-continue-btn{
	    width: 150px;
	    height: 35px;
	    
	    font-size: 14px;
	}

	#modal-msg{
	    width: 300px;
	}

	#instrucciones{
	    height: 100%;
	    height: calc(100% - 40px);
	    height: -moz-calc(100% - 40px);
	    z-index: 1;
	    align-items: flex-start;
	}
	#instrucciones-gif{
	    width: 280px;
	    height: 150px;
	}
	.mobi-col-1,.mobi-col-2,.mobi-col-3{
		background-position: 0px 0px;
		padding-bottom: 10px;
	}
	#instrucciones-box{
		top: -18px;
		width: 300px;
		height: 400px;
		margin: 0px auto;

		margin-top: 50px;
		background-image: url(../images/instrucciones-background-responsive.svg);
	}
	#instrucciones-box-wrap > p{
		margin: 15px 0px;
	}
	#instrucciones-box-wrap{
	    max-height: 320px;
	}
	#instrucciones_title{
	    top: -17px;
	}
	#instrucciones-close-btn{
		cursor: default;
	}
}